{% extends 'admin/base.html' %}

{% block content %}
<div class="container">
    <div class="title is-4">Все мероприятия организатора {{ org.name }}</div>

    <table class="table" style="width: 100%">
        <thead>
            <tr>
                <th><abbr title="#">#</abbr></th>
                <th><abbr title="Название">Название</abbr></th>
                <th><abbr title="Организатор">Организатор</abbr></th>
                <th><abbr title="Дата">Дата</abbr></th>
                <th><abbr title="Категория">Категория</abbr></th>
                <th><abbr title="Цена">Цена</abbr></th>
                <th><abbr title="Кол-во мест">Кол-во мест</abbr></th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td><a href="{{ url_for('admin_event_details', id=event.id) }}">{{ event.name }}</a></td>
                <td>{{ event.user.name }}</td>
                <td>{{ event.date }}</td>
                <td>{{ event.category }}</td>
                <td>{{ event.price }}</td>
                <td>{{ event.count_places }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}